@model Pohui.Models.Creative
@{
    ViewBag.Title = "EditCreative";
}
<head>
<script>
    $.ajax({
        url: '/Creative/ViewAllChapters?id=@Model.Id',
        success: function (response) {
            $("#sortable").html(response);
        }
    });
    $(function () {
        var i = 0;
        $("#sortable").sortable({
            revert: true,
            stop: function (event, ui) {
                var sortedIDs = $("#sortable").sortable("toArray");
                i = sortedIDs.length + 1;
            }
        });
        $("ul, li").disableSelection();
    });
    $(function () {
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.htm",
            ExtraMode: true
        });
    })
    $('#AddChapter').on('click', function () {
        $('#sortable').append('<li class="btn btn-default" id="' + i + '">Глава ' + i + '</li>');
        $.ajax({
            url: '/Creative/AddEmptyChapter?id=@Model.Id'
        });
        });
</script>
    </head>
<h2>Edit @Model.Name</h2>
<ol>
    <li id="AddChapter" class="btn btn-default">+</li>
</ol>
<ul id="sortable">

</ul>
<script>

</script>

<div id="editor"></div>