@model Pohui.Models.Creative
@{
    ViewBag.Title = "EditCreative";
}
<head>
<script>
 
    
</script>
    </head>
<h2>Edit @Model.Name</h2>
<ol>
    <li id="AddChapter" class="btn btn-default">+</li>
</ol>
<ul id="sortable">
    <li class="btn btn-default">Глава 2</li>
</ul>
<script>
    $.ajax({
        url: '/Creative/ViewAllChapters?id=@Model.Id',
        success: function (response) {
            $("#sortable").html(response)
        }

    });
    
    var i = 1;
    
    $(function () {
        $("#sortable").sortable({
            revert: true,
            stop: function (event, ui) {
                var sortedIDs = $("#sortable").sortable("toArray");
                for (var i = 0; i < sortedIDs.length; i++) {
                    $.ajax({
                            url: '/Creative/EditPosition?creativeId=@Model.Id&oldPos=' + sortedIDs[i] + '&newPos=' + i
                        });
                    }
            }
        });
        $("ul, li").disableSelection();
    });
    $(function () {
        $("textarea.mdd_editor").MarkdownDeep({
            help_location: "/Scripts/mdd_help.htm",
            ExtraMode: true
        });
    })
    $('#AddChapter').on('click', function () {
        var sortedIDs = $("#sortable").sortable("toArray");
        i = sortedIDs.length + 1;
        $('#sortable').append('<li class="btn btn-default" id="'+i+'">Глава '+i+'</li>');
        $.ajax({
            url: '/Creative/AddEmptyChapter?id=@Model.Id'
        });           
        
    });
</script>

<div id="content" class="container"></div>