@model Pohui.Models.Creative
@{
    ViewBag.Title = "EditCreative";
}

<h2>Edit @Model.Name</h2>
<head>
    <title></title>
	<script type="text/javascript">
	    $(function () {
	        $("textarea.mdd_editor").MarkdownDeep({
	            help_location: "/Scripts/mdd_help.htm",
	            ExtraMode: true
	        });
	    })
	</script>
  
  <script>
      $(function () {
          var i = 2;
          $("#sortable").sortable({
              revert: true,
              stop: function (event, ui) {
                  var sortedIDs = $("#sortable").sortable("toArray");


                  $('#test').text(sortedIDs);
              }
          });
          $('#AddChapter').on('click', function () {
              $('#sortable').append('<li class="btn btn-default" id="' + i + '">Глава ' + i + '</li>');
              i++;                           
          });
         
          
         
          $("ul, li").disableSelection();
      });
  </script>
</head>
<body>
 

     <ol><li id="AddChapter" class="btn btn-default">+</li></ol>
<ol id="sortable">
     
  <li class="btn btn-default" id="1">Глава 1</li>
</ol>

     
    <div id="test"></div>

    </body>