@model IQueryable<Pohui.Models.Chapter>
@foreach (var chapter in Model)
    {
        <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#content_@chapter.CreativeId" href="\Creative\ViewChapter?id=@chapter.Id" id=@chapter.Position class="btn btn-default" >@chapter.Name</a>
    }