@model Pohui.Models.Creative

@{
    ViewBag.Title = "ViewCreative";
}

<h2>@Model.Name</h2>
<script>
    $.ajax({
        url: '/Creative/GetAllChapters?id=@Model.Id',
        success: function (response) {
            $("#chapters").html(response)
        }
    });
</script>
<ol id="chapters"></ol>
<div class="container" id="content"></div>
