@model Pohui.Models.User
@{
    ViewBag.Title = "ProfilePage";
}

<h2>@Model.Login 's Page</h2>


<div class="col-lg-6" id="ID"></div>
<script type="text/javascript">
        $.ajax({
            url: '/Creative/UserCreatives?id=@Model.UserId',
            success: function (response) {
                $("#ID").html(response);
            }
        });
</script>
