<div class="fotorama" data-fit="cover">
    <div data-img="@("/Images/book.png")">
        <div class="container col-lg-6" style="top: 10px;">
        </div>
    </div>
    <div data-img="@("/Images/book.png")">
        <div class="container col-lg-6" style="top: 10px;">
        </div>
    </div>
</div>
