@model ICollection<Pohui.Models.Tag>
<div class="container">
    <table>
        @foreach (var tag in Model)
        {
            <tr>
                <td>
                    <a data-ajax="true" data-ajax-mode="replace" data-ajax-update="#test" href="/Creative/ViewCreatives?id=@tag.Id" class="btn btn-primary btn-sm">@tag.Name</a>
                </td>
            </tr>
        }
    </table>
</div>